/* Réinitialisation des styles pour divers éléments */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background: #fffef8;
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styles de base */
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

.works-title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.filters {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 10px;
	margin-bottom: 30px;
}

.filter-btn {
	display: flex;
	padding: 8px 20px;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 20px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.filter-btn:hover {
	background-color: #e0e0e0;
}

.checked {
	color: #fff;
	background: #1D6154;
}

.content {
	max-width: 1140px;
	margin: auto;
	font-family: "Work Sans";
	font-size: 14px;
}

#login {
	width: 50%;
	margin: auto;
}

.login {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.login h2 {
	text-align: center;
	margin: 15px 0;
}

#login-error {
	text-align: center;
	visibility: hidden;
	font-size: 1.1rem;
	color: red;
	margin: 15px 0;
}

.login label {
	margin: 2em 0 1em 0;
}

#email, #password {
	display: flex;
	padding: 18px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login label {
	margin: 2em 0 1em 0;
}

#submit {
	padding: 10px;
	cursor: pointer;
	box-sizing: border-box;
	border: none;
}

input[type="submit"] {
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	cursor: pointer;
	border-radius: 60px;
}

.login .forgot {
	text-align: center;
}

.navlink:visited {
	color: black;
}

.navlink {
	text-decoration: none;
}

.admin-panel {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 59px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
	font-family: "Work Sans";
	z-index: 1000;
}

.admin-panel p {
	margin-left: 10px;
}

/* Styles pour le bouton "Modifier" et le conteneur de l'en-tête des projets */
.works-header {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.works-title {
    display: block;
    align-items: center;
    justify-content: center;
}

#editButton {
	margin-left: 10px;
	padding: 5px 10px;
	background-color: transparent;
	color: black;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
	display: flex;
	align-items: center;
}

#editButton i {
	margin-right: 5px;
}



#editButton {
	display: none;
}

.connected #editButton {
	display: flex;
}
.connected {
    margin-top: 80px;
    cursor: pointer;
}
.modify-works {
    font-size: 0.9rem;
    margin-left: 8px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
/* MODAL */

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1000;
  }
  
  .modal-wrapper {
	overflow: auto;
	width: 80%; /* Réduire la largeur de la modal */
	max-width: 400px; /* Définir une largeur maximale */
	max-height: 80%; /* Définir une hauteur maximale */
	padding: 30px;
	background: #f1f1f1;
	border-radius: 10px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
	animation: slideFromBottom 300ms both 50ms;
  }
  
.modal-wrapper__close {
    text-align: right;
}

.modal-wrapper__close button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-wrapper__content {
    display: flex;
    flex-wrap: wrap;
}

.modal-wrapper__content figure {
    margin: 10px;
    position: relative;
}

.modal-wrapper__content img {
    max-width: 100px;
    height: auto;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.add-photo {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
