/* Réinitialisation des styles pour divers éléments */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset pour older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background: #fffef8;
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styles de base */
header {
	display: flex;
	justify-content: space-between;
	margin: 80px 0 50px 0;
}

header.connected {
	margin-top: 20px;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

.works-title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.filters {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 10px;
	margin-bottom: 30px;
	margin-top: 20px;
}

.filter-btn {
	display: flex;
	padding: 8px 20px;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 20px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.filter-btn:hover {
	background-color: #e0e0e0;
}

.checked {
	color: #fff;
	background: #1D6154;
}

.content {
	max-width: 1140px;
	margin: auto;
	font-family: "Work Sans";
	font-size: 14px;
}

#login {
	width: 50%;
	margin: auto;
}

.login {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.login h2 {
	text-align: center;
	margin: 15px 0;
}

#login-error {
	text-align: center;
	visibility: hidden;
	font-size: 1.1rem;
	color: red;
	margin: 15px 0;
}

.login label {
	margin: 2em 0 1em 0;
}

#email, #password {
	display: flex;
	padding: 18px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login label {
	margin: 2em 0 1em 0;
}

#submit {
	padding: 10px;
	cursor: pointer;
	box-sizing: border-box;
	border: none;
}

input[type="submit"] {
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	cursor: pointer;
	border-radius: 60px;
}

.login .forgot {
	text-align: center;
}

.navlink:visited {
	color: black;
}

.navlink {
	text-decoration: none;
}

.admin-panel {
    position: absolute; /* Utilisation de position absolute pour éviter les limitations de max-width */
    top: 0;
    left: 0;
    width: 100vw; /* Assure que le panneau occupe toute la largeur de la fenêtre */
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: "Work Sans";
    z-index: 1000;
    box-sizing: border-box; /* Assure que padding et border sont inclus dans la largeur totale */
    margin-bottom: 20px; /* Ajoute un espace en bas du panneau */
}

.admin-panel i {
    margin-right: 10px;
}

.content {
    padding-top: 80px; /* Augmenter le padding-top pour éviter que le contenu ne soit caché par l'admin panel */
}


/* MODAL */

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    animation: fadeIn 300ms both;
    z-index: 1000; /* Assure que la modale est au-dessus de tout */
}

.modal-wrapper {
    overflow: auto;
    width: 630px;
    max-width: calc(100vw - 30px);
    max-height: calc(100vh - 30px);
    min-height: 200px;
    padding: 30px;
    background: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    animation: slideFromBottom 300ms both 50ms;
    z-index: 1001; /* Assure que le contenu de la modale est au-dessus du fond */
}

  .modal-wrapper__head {
	text-align: center;
  }
  .modal-wrapper__head h2 {
	margin-block: 10px 50px;
  }
  
  .modal-wrapper__close {
	text-align: right;
  }
  
  .js-modal-close {
	border: none;
	font-size: 1.2rem;
  }
  
  .js-modal-close:hover {
	cursor: pointer;
	color: #555;
  }
  
  .modal-wrapper__content {
	margin: 30px auto;
	width: 75%;
	padding-bottom: 50px;
	border-bottom: 1px solid #b3b3b3;
  }
  
  .view {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
  }
  
  .edit {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  
  .modal-wrapper__content figure {
	display: flex;
	height: 100px;
	position: relative;
  }
  .modal-wrapper__content figure img:not(.delete-button) {
	width: 100%;
	height: auto;
	object-fit: cover;
  }
  
  .modal-wrapper__footer {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .add-photo {
	display: flex;
	justify-content: center;
	border: none;
	padding: 8px 40px;
	border-radius: 20px;
	width: 237px;
	background: #1d6154;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	margin-bottom: 10px;
  }
  
  .valid {
	display: flex;
	justify-content: center;
	border: none;
	padding: 8px 40px;
	border-radius: 20px;
	width: 237px;
	background: #1d6154;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	margin-bottom: 10px;
  }
  .delete-button {
    width: 17px;
    height: 17px;
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
    background-color: black;
    border-radius: 3px;
    display: flex; /* Utilisation de flexbox pour centrer */
}

.fa-trash-can {
    color: white;
    font-size: 0.7rem;

}

 

  @keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  
  @keyframes slideFromBottom {
	from {
	  transform: translateY(50px);
	}
	to {
	  transform: translateY(0px);
	}
  }
  
  /* EDITVIEW */
  
  .upload-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: #e8f1f6;
	border-radius: 3px;
	height: 169px;
  }
  .upload-area img {
	display: flex;
	height: 169px;
	margin-block: 10px;
  }
  
  .upload-area .uploaded {
	height: 169px;
  }
  
  .upload-area .get-file {
	display: none;
	justify-content: center;
	align-items: center;
	background: #cbd6dc;
	width: 173px;
	height: 36px;
	border-radius: 50px;
	box-sizing: border-box;
	border: none;
	margin-bottom: 10px;
	font-size: 1rem;
	cursor: pointer;
  }
  
  .upload-area .get-file:hover {
	background: #306685;
  }
  
  .upload-area label {
	background: #cbd6dc;
	color: #306685;
	padding: 12px 30px;
	font-size: 0.9rem;
	border-radius: 25px;
	font-family: "Work sans";
	cursor: pointer;
  }
  
  .upload-area label:hover {
	background: #b2bcc2;
  }
  
  .upload-area p {
	display: flex;
	margin-bottom: 20px;
	font-size: 0.7rem;
	margin-top: 8px;
	font-family: "Work sans";
  }
  
  .upload-config {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	font-family: "Work sans";
  }
  
  #uploadNewWork > * {
	text-align: center;
  }
  
  #uploadNewWork h2 {
	margin-bottom: 20px;
  }
  
  .upload-config {
	text-align: left;
	display: flex;
	flex-direction: column;
  }
  
  .upload-config input,
  .upload-config select {
	padding: 18px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  }
  .upload-config label {
	margin: 2em 0 1em 0;
  }
  
  input[type="file"] {
	display: none;
  }
  
  .arrow-go-back {
	position: absolute;
	cursor: pointer;
  }
  

.admin-panel .fa-pen-to-square {
    color: white;
    margin-left: 10px; /* ajustez cette valeur selon vos besoins */
}

/* Modifier */
#editButton {
    color: black;
    font-size: 15px;
    cursor: pointer;
    margin-left: 14px;
}



/* Centrage du titre Mes Projets */
.works-title {
    text-align: center;
    width: 100%;
    justify-content: center;
    display: flex;
}


/* Margin du header pour éviter chevauchement avec l'admin panel */
header.connected {
    margin-top: 80px;
}

/* Réduction du margin-top du header sur la page de login */
#login header {
    margin-top: 20px;
}
.fa-image{
font-size: 5rem;
color: rgba(185, 197, 204, 1);
}
.hidden{
	display: none;
}

 


